 
# Data Cleansing with Airbnb 

We're going to start by doing some exploratory data analysis & cleansing. The data we are working with is Airbnb rentals from SF. You can read more at [Inside Airbnb](http://insideairbnb.com/get-the-data.html)

## In this notebook

 - Find the API Docs for the running version of Pandas
 - Work with messy CSV files
 - Impute missing values
 - Identify & remove outliers
 - Preprocessing Data

Let's take a look at what data we have here


How are we going to load those data? 

**Pandas**

    A python package providing easy to use API with tools for structural data analysis. 
 
**DataFrame**

* The most commonly used object in Pandas.
* It is a 2D indexed data structures wtih columns in different data types.

We are going to use Pandas DataFrame API for importing and analyzing data.

Let's check the Docs first!

* Check [Pandas](https://pandas.pydata.org/) version you installed, and find the API Docs package version

In [2]:
import pandas as pd


Let's load the data into a DataFrame  from the CSV file.

In [3]:
filePath = 'airbnb.csv'
 
df_airbnb = pd.read_csv(filePath)

Let's take a look at the first few records

In [4]:
df_airbnb.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,958.0,https://www.airbnb.com/rooms/958,2.018120e+13,2018-12-06,"Bright, Modern Garden Unit - 1BR/1B",Our bright garden unit overlooks a grassy back...,"Newly remodeled, modern, and bright garden uni...",Our bright garden unit overlooks a grassy back...,none,*Quiet cul de sac in friendly neighborhood *St...,...,t,STR-0001256,"{""SAN FRANCISCO""}",t,f,moderate,f,f,1.0,1.51
1,5858.0,https://www.airbnb.com/rooms/5858,2.018120e+13,2018-12-06,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,1.0,0.96
2,7918.0,https://www.airbnb.com/rooms/7918,2.018120e+13,2018-12-06,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,Room rental-sunny view room/sink/Wi Fi (inner ...,Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,9.0,0.15
3,8142.0,https://www.airbnb.com/rooms/8142,2.018120e+13,2018-12-06,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,Room rental Sunny view Rm/Wi-Fi/TV/sink/large ...,Nice and good public transportation. 7 minute...,none,NaN,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,9.0,0.15
4,8339.0,https://www.airbnb.com/rooms/8339,2.018120e+13,2018-12-06,Historic Alamo Square Victorian,Pls email before booking. Interior featured i...,Please send us a quick message before booking ...,Pls email before booking. Interior featured i...,none,NaN,...,t,STR-0000264,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,t,t,2.0,0.24

How many records in this dataframe?How many columns in this dataframe?

In [5]:
df_airbnb.shape

(7072, 96)

What are those column names?

In [6]:
df_airbnb.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

What's the data schema of this dataframe, i.e. the data type for each column?

In [8]:
df_airbnb.shape

(7072, 96)

For the sake of simplicity, only keep certain columns from this dataset.

In [9]:
columnsToKeep = [
  'host_is_superhost',
  'cancellation_policy',
  'instant_bookable',
  'host_total_listings_count',
  'neighbourhood_cleansed',
  'zipcode',
  'latitude',
  'longitude',
  'property_type',
  'room_type',
  'accommodates',
  'bathrooms',
  'bedrooms',
  'beds',
  'bed_type',
  'minimum_nights',
  'number_of_reviews',
  'review_scores_rating',
  'review_scores_accuracy',
  'review_scores_cleanliness',
  'review_scores_checkin',
  'review_scores_communication',
  'review_scores_location',
  'review_scores_value',
  'price']

df_cleaned = df_airbnb[columnsToKeep]

In [10]:
#check the first few of records in baseDF
df_cleaned.head()

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,...,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
0,t,moderate,t,1.0,Western Addition,94117.0,37.769310,-122.433856,Apartment,Entire home/apt,...,1.0,172.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,$170.00
1,f,strict_14_with_grace_period,f,2.0,Bernal Heights,94110.0,37.745112,-122.421018,Apartment,Entire home/apt,...,30.0,112.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,$235.00
2,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,94117.0,37.766690,-122.452505,Apartment,Private room,...,32.0,17.0,85.0,8.0,8.0,9.0,9.0,9.0,8.0,$65.00
3,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,94117.0,37.764872,-122.451828,Apartment,Private room,...,32.0,8.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,$65.00
4,f,strict_14_with_grace_period,f,2.0,Western Addition,94117.0,37.775249,-122.436374,House,Entire home/apt,...,7.0,27.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,$785.00

In [11]:
#get schema and more info 
df_cleaned.dtypes

host_is_superhost               object
cancellation_policy             object
instant_bookable                object
host_total_listings_count      float64
neighbourhood_cleansed          object
zipcode                        float64
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                   float64
bathrooms                      float64
bedrooms                       float64
beds                           float64
bed_type                        object
minimum_nights                 float64
number_of_reviews              float64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
price                           object
dtype: object

## Fixing Data Types

Take a look at the schema above. You'll notice that the `price` field got picked up as object (string). For our task, we need it to be a numeric (float64 type) field.

Let's fix that.

In [ ]:
baseDF.price

In [ ]:
#.replace() in DataFrame can be used with regex option , check the usage
help(baseDF.replace)

In [ ]:
fixedPriceDF = baseDF.replace({'price': r'[\$]'}, {'price': ''}, regex=True)

In [ ]:
#check if the values in price field has been fixed
fixedPriceDF.price.head()

In [ ]:
#check data types of fixedPriceDF
fixedPriceDF.dtypes

In [ ]:
#fix data type of price using .astype()
fixedPriceDF['price'] = fixedPriceDF['price'].astype('float64')

Oops! As the error message suggested, there is a value that has a ",", let's fix that.

In [ ]:
#fix price values again
fixedPriceDF = baseDF.replace({'price': r'[\$,]'}, {'price': ''}, regex=True)

In [ ]:
#then try fixing datatype of price  
fixedPriceDF['price'] = fixedPriceDF['price'].astype('float64')

In [ ]:
#check data type
fixedPriceDF.dtypes

## Summary statistics

Using .describe() in DataFrame to get summary statistics.

In [ ]:
#checking the usage of describe()

help(fixedPriceDF.describe)

In [ ]:
#get the stats of some columns, e.g. host_is_superhost','host_total_listings_count','zipcode' using .describe()

fixedPriceDF[['host_is_superhost','host_total_listings_count','zipcode']].describe()

describe() only reports the summary of numerical columns by default, to get the stats of all columns you need: include='all'

In [ ]:
#get the stats of all columns
 
fixedPriceDF.describe(include='all')

As you can see we have different count results for the different columns, that means we have null values records for some columns. 

## Nulls

There are a lot of different ways to handle null values.  

Some ways to handle nulls:
* Drop any records that contain nulls
* Numeric:
  * Replace them with mean/median/zero/etc.
* Categorical:
  * Replace them with the mode, i.e. the most frequently observed data value
  * Create a special category for null

There are a few nulls in the categorical feature `zipcode`. Let's get rid of those rows where any of that column is null, so this is the simplest approach for the time being.

In [ ]:
#.dropna() can be used, checking usage
help(fixedPriceDF.dropna)

In [ ]:
#drop rows that has null in `zipcode`
noNullsDF=fixedPriceDF.dropna(subset=['zipcode'])

In [ ]:
#checking stats after dropna ..
noNullsDF.describe()

Some rows are dropped, but still there are some columns with differnet numbers of records

In [ ]:
#checking more info  ..
noNullsDF.info()


Now let's try imputation for numerical features. We want to fill the nulls in some numerical features with the median of that column.

In [ ]:
imputeCols = [
  "bedrooms",
  "bathrooms",
  "beds",
  "review_scores_rating",
  "review_scores_accuracy",
  "review_scores_cleanliness",
  "review_scores_checkin",
  "review_scores_communication",
  "review_scores_location",
  "review_scores_value"
]

Fill any nulls in those columes with the median value of the colume where a null is located

In [ ]:
# .fillna() can be used, checking usage
help(noNullsDF.fillna)

In [ ]:
#call .fillna() with median of those selected columns 
imputedDF=noNullsDF.fillna(noNullsDF.median()[imputeCols])

In [ ]:
#let's check info on imputedDF
imputedDF.info()

In [ ]:
#check the sumary stats on imputedDF
imputedDF.describe(include='all')

## Getting rid of extreme values

Let's take a look at the *min* and *max* values of the `price` column:

In [ ]:
imputedDF['price'].describe()

There are some super-expensive listings. But that's the Data Scientist's job to decide what to do with them. We can certainly filter the "free" AirBNBs though.

Let's see first how many listings we can find where the *price* is zero.

In [ ]:
#.query() can be used to get a dataframe with records that matchs a given condition, checking usage
help(imputedDF.query)

In [ ]:
#find number of listings that have price as zero 
imputedDF.query('price==0').price.count()

Now only keep rows with a strictly positive *price*.

In [ ]:
#we can still using .query() to get a dataframe that only have positive price
posPricesDF = imputedDF.query('price > 0')

In [ ]:
#check the stats of price in posPricesDF
posPricesDF.describe()

Let's take a look at the *min* and *max* values of the *minimum_nights* column:

In [ ]:
#checking stats of a single column 'minimum_nights'
posPricesDF[['minimum_nights']].describe()

Let's take a look the distribution of number of records based on `minimum_nights`

In [ ]:
#ues .value_counts() on a column
posPricesDF.minimum_nights.value_counts()

A minimum stay of one year seems to be a reasonable limit here. Let's filter out those records where the *minimum_nights* is greater then 365:

In [ ]:
#again, using .query()
cleanDF =  posPricesDF.query('minimum_nights<=365')

In [ ]:
#check the stats of minimum_nights in cleanDF
cleanDF[['minimum_nights']].describe()

In [ ]:
cleanDF.describe(include='all')

In [ ]:
cleanDF.price.value_counts()

Convert price to categorical by binining it

In [ ]:

labels = ["Cheap","Moderate","Expensive"]
cleanDF['binned_price'] = pd.cut(cleanDF['price'], bins=3,  labels=labels)
cleanDF.binned_price.value_counts()

In [ ]:
cleanDF.query('binned_price=="Expensive"')

Convert room_type to numeric using one hot encoding

In [ ]:
# List unqiue room types and their count
cleanDF.room_type.value_counts()

In [ ]:
# Convert room_type to numeric using one hot encoding
pd.get_dummies(cleanDF.room_type, prefix='room_type')

# use pd.concat to join the new columns with your original dataframe
cleanDF = pd.concat([cleanDF,pd.get_dummies(cleanDF['room_type'], prefix='room_type', drop_first=True)],axis=1)

# now drop the original 'room_type' column (you don't need it anymore)
cleanDF.drop(['room_type'],axis=1, inplace=True)

cleanDF.head()

## Saving Cleaned Data back to Disk

OK, our data is cleansed now. Let's save this DataFrame to a file so that we can start building models with it.

In [ ]:
outputPath = "airbnb-cleaned.csv"
cleanDF.to_csv(outputPath)

In [ ]:
%ls

Summary
--
What we have done in this notebook:

* Fixed data type for the column 'price' 
    * using .replace() with regx to fix values
    * using .astype() to fix data type
* Got rid of null values
    * using .dropna() to dropped rows where 'zipcode' is null
    * using .fillna() to impute columns that have nulls with the median of that column
* Identified & removed some outliers
    * using .qu'price' as 0
    * 'minimum_nights' greater than 365 days

We have also learned:

* Where to find the API docs 
* Checking dataframe attributes
    * using .shape to check dataframe shape
    * using .dtypes to check column data types
    * using .columns to check clumn names
* Using help() to get the usage info of a function/method  
* Using .info() to check the schema of a dataframe  
* Using describe() to get summary statistics of dataframe  
  
Now we have a cleaned dataset ready for trying some machine learning tasks.