 
# Data Cleansing with Airbnb 

We're going to start by doing some exploratory data analysis & cleansing. The data we are working with is Airbnb rentals from SF. You can read more at [Inside Airbnb](http://insideairbnb.com/get-the-data.html)

## In this notebook

 - Find the API Docs for the running version of Pandas
 - Work with messy CSV files
 - Impute missing values
 - Identify & remove outliers
 - Preprocessing Data

Let's take a look at what data we have here


How are we going to load those data? 

**Pandas**

    A python package providing easy to use API with tools for structural data analysis. 
 
**DataFrame**

* The most commonly used object in Pandas.
* It is a 2D indexed data structures wtih columns in different data types.

We are going to use Pandas DataFrame API for importing and analyzing data.

Let's check the Docs first!

* Check [Pandas](https://pandas.pydata.org/) version you installed, and find the API Docs package version

In [2]:
import pandas as pd


Let's load the data into a DataFrame  from the CSV file.

In [3]:
filePath = 'airbnb.csv'
 
df_airbnb = pd.read_csv(filePath)

Let's take a look at the first few records

In [4]:
df_airbnb.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,958.0,https://www.airbnb.com/rooms/958,2.018120e+13,2018-12-06,"Bright, Modern Garden Unit - 1BR/1B",Our bright garden unit overlooks a grassy back...,"Newly remodeled, modern, and bright garden uni...",Our bright garden unit overlooks a grassy back...,none,*Quiet cul de sac in friendly neighborhood *St...,...,t,STR-0001256,"{""SAN FRANCISCO""}",t,f,moderate,f,f,1.0,1.51
1,5858.0,https://www.airbnb.com/rooms/5858,2.018120e+13,2018-12-06,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,1.0,0.96
2,7918.0,https://www.airbnb.com/rooms/7918,2.018120e+13,2018-12-06,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,Room rental-sunny view room/sink/Wi Fi (inner ...,Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,9.0,0.15
3,8142.0,https://www.airbnb.com/rooms/8142,2.018120e+13,2018-12-06,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,Room rental Sunny view Rm/Wi-Fi/TV/sink/large ...,Nice and good public transportation. 7 minute...,none,NaN,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,9.0,0.15
4,8339.0,https://www.airbnb.com/rooms/8339,2.018120e+13,2018-12-06,Historic Alamo Square Victorian,Pls email before booking. Interior featured i...,Please send us a quick message before booking ...,Pls email before booking. Interior featured i...,none,NaN,...,t,STR-0000264,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,t,t,2.0,0.24

How many records in this dataframe?How many columns in this dataframe?

In [5]:
df_airbnb.shape

(7072, 96)

What are those column names?

In [6]:
df_airbnb.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

What's the data schema of this dataframe, i.e. the data type for each column?

In [8]:
df_airbnb.shape

(7072, 96)

For the sake of simplicity, only keep certain columns from this dataset.

In [9]:
columnsToKeep = [
  'host_is_superhost',
  'cancellation_policy',
  'instant_bookable',
  'host_total_listings_count',
  'neighbourhood_cleansed',
  'zipcode',
  'latitude',
  'longitude',
  'property_type',
  'room_type',
  'accommodates',
  'bathrooms',
  'bedrooms',
  'beds',
  'bed_type',
  'minimum_nights',
  'number_of_reviews',
  'review_scores_rating',
  'review_scores_accuracy',
  'review_scores_cleanliness',
  'review_scores_checkin',
  'review_scores_communication',
  'review_scores_location',
  'review_scores_value',
  'price']

df_cleaned = df_airbnb[columnsToKeep]

In [10]:
#check the first few of records in baseDF
df_cleaned.head()

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,...,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
0,t,moderate,t,1.0,Western Addition,94117.0,37.769310,-122.433856,Apartment,Entire home/apt,...,1.0,172.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0,$170.00
1,f,strict_14_with_grace_period,f,2.0,Bernal Heights,94110.0,37.745112,-122.421018,Apartment,Entire home/apt,...,30.0,112.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,$235.00
2,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,94117.0,37.766690,-122.452505,Apartment,Private room,...,32.0,17.0,85.0,8.0,8.0,9.0,9.0,9.0,8.0,$65.00
3,f,strict_14_with_grace_period,f,10.0,Haight Ashbury,94117.0,37.764872,-122.451828,Apartment,Private room,...,32.0,8.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,$65.00
4,f,strict_14_with_grace_period,f,2.0,Western Addition,94117.0,37.775249,-122.436374,House,Entire home/apt,...,7.0,27.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,$785.00

In [11]:
#get schema and more info 
df_cleaned.dtypes

host_is_superhost               object
cancellation_policy             object
instant_bookable                object
host_total_listings_count      float64
neighbourhood_cleansed          object
zipcode                        float64
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                   float64
bathrooms                      float64
bedrooms                       float64
beds                           float64
bed_type                        object
minimum_nights                 float64
number_of_reviews              float64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
price                           object
dtype: object

## Fixing Data Types

Take a look at the schema above. You'll notice that the `price` field got picked up as object (string). For our task, we need it to be a numeric (float64 type) field.

Let's fix that.

In [12]:
df_cleaned.price

0       $170.00
1       $235.00
2        $65.00
3        $65.00
4       $785.00
         ...
7067        NaN
7068        NaN
7069        NaN
7070        NaN
7071        NaN
Name: price, Length: 7072, dtype: object

In [27]:
df_cleaned = df_cleaned.replace({"price": r"[\$]"}, {"price": ""}, regex=True)

In [28]:
#check if the values in price field has been fixed
df_cleaned.price.tail()

7067    NaN
7068    NaN
7069    NaN
7070    NaN
7071    NaN
Name: price, dtype: object

In [29]:
#check data types of fixedPriceDF
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7072 entries, 0 to 7071
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   host_is_superhost            5165 non-null   object
 1   cancellation_policy          5165 non-null   object
 2   instant_bookable             5165 non-null   object
 3   host_total_listings_count    5165 non-null   float64
 4   neighbourhood_cleansed       5165 non-null   object
 5   zipcode                      5101 non-null   float64
 6   latitude                     5165 non-null   float64
 7   longitude                    5165 non-null   float64
 8   property_type                5165 non-null   object
 9   room_type                    5165 non-null   object
 10  accommodates                 5165 non-null   float64
 11  bathrooms                    5146 non-null   float64
 12  bedrooms                     5164 non-null   float64
 13  beds                         5160 non-null   float64
 14  bed_type                     5165 non-null   object
 15  minimum_nights               5165 non-null   float64
 16  number_of_reviews            5165 non-null   float64
 17  review_scores_rating         4763 non-null   float64
 18  review_scores_accuracy       4760 non-null   float64
 19  review_scores_cleanliness    4760 non-null   float64
 20  review_scores_checkin        4759 non-null   float64
 21  review_scores_communication  4762 non-null   float64
 22  review_scores_location       4759 non-null   float64
 23  review_scores_value          4758 non-null   float64
 24  price                        5165 non-null   object
dtypes: float64(17), object(8)
memory usage: 1.3+ MB

In [ ]:
#fix data type of price using .astype()
fixedPriceDF['price'] = fixedPriceDF['price'].astype('float64')

Oops! As the error message suggested, there is a value that has a ",", let's fix that.

In [31]:
#fix price values again
df_cleaned = df_cleaned.replace({"price": r"[\$,]"}, {"price": ""}, regex=True)

In [32]:
#then try fixing datatype of price  
df_cleaned['price'] = df_cleaned['price'].astype('float64')

In [33]:
#check data type
df_cleaned.dtypes

host_is_superhost               object
cancellation_policy             object
instant_bookable                object
host_total_listings_count      float64
neighbourhood_cleansed          object
zipcode                        float64
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                   float64
bathrooms                      float64
bedrooms                       float64
beds                           float64
bed_type                        object
minimum_nights                 float64
number_of_reviews              float64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
price                          float64
dtype: object

## Summary statistics

Using .describe() in DataFrame to get summary statistics.

In [35]:
#get the stats of some columns, e.g. host_is_superhost','host_total_listings_count','zipcode' using .describe()

df_cleaned[["host_is_superhost", "host_total_listings_count", "zipcode"]].describe()

       host_total_listings_count       zipcode
count                5165.000000   5101.000000
mean                   42.044530  94114.965105
std                   199.120312     15.394828
min                     0.000000  94014.000000
25%                     1.000000  94109.000000
50%                     2.000000  94114.000000
75%                     5.000000  94118.000000
max                  1475.000000  94965.000000

describe() only reports the summary of numerical columns by default, to get the stats of all columns you need: include='all'

In [36]:
#get the stats of all columns
 
df_cleaned.describe(include='all')

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,...,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,5165,5165,5165,5165.000000,5165,5101.000000,5165.000000,5165.000000,5165,5165,...,5.165000e+03,5165.000000,4763.000000,4760.000000,4760.000000,4759.000000,4762.000000,4759.000000,4758.000000,5165.000000
unique,2,6,2,NaN,36,NaN,NaN,NaN,21,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,f,strict_14_with_grace_period,f,NaN,Mission,NaN,NaN,NaN,Apartment,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3025,2394,3476,NaN,577,NaN,NaN,NaN,2178,3163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,42.044530,NaN,94114.965105,37.765251,-122.431580,NaN,NaN,...,1.937678e+04,57.318103,95.508293,9.767017,9.622899,9.877075,9.843763,9.621349,9.411728,208.066602
std,NaN,NaN,NaN,199.120312,NaN,15.394828,0.022152,0.026381,NaN,NaN,...,1.391441e+06,78.527744,6.511490,0.627288,0.719568,0.463708,0.571272,0.696727,0.767813,290.709397
min,NaN,NaN,NaN,0.000000,NaN,94014.000000,37.706149,-122.513065,NaN,NaN,...,1.000000e+00,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000
25%,NaN,NaN,NaN,1.000000,NaN,94109.000000,37.750743,-122.443555,NaN,NaN,...,2.000000e+00,5.000000,94.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,100.000000
50%,NaN,NaN,NaN,2.000000,NaN,94114.000000,37.764921,-122.426390,NaN,NaN,...,3.000000e+00,25.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,150.000000
75%,NaN,NaN,NaN,5.000000,NaN,94118.000000,37.783425,-122.412545,NaN,NaN,...,3.000000e+01,80.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,233.000000
max,NaN,NaN,NaN,1475.000000,NaN,94965.000000,37.810306,-122.370428,NaN,NaN,...,1.000000e+08,649.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9000.000000

As you can see we have different count results for the different columns, that means we have null values records for some columns. 

## Nulls

There are a lot of different ways to handle null values.  

Some ways to handle nulls:
* Drop any records that contain nulls
* Numeric:
  * Replace them with mean/median/zero/etc.
* Categorical:
  * Replace them with the mode, i.e. the most frequently observed data value
  * Create a special category for null

There are a few nulls in the categorical feature `zipcode`. Let's get rid of those rows where any of that column is null, so this is the simplest approach for the time being.

In [40]:
#drop rows that has null in `zipcode`
df_cleaned_NaN_zip = df_cleaned.dropna(subset=["zipcode"])

In [41]:
#checking stats after dropna ..
df_cleaned_NaN_zip.describe()

,host_total_listings_count,zipcode,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5082.000000,5100.000000,5096.000000,5.101000e+03,5101.000000,4720.000000,4717.000000,4717.000000,4716.000000,4719.000000,4716.000000,4715.000000,5101.000000
mean,37.652421,94114.965105,37.765107,-122.431748,3.215056,1.315525,1.372745,1.768838,1.961955e+04,57.894334,95.505085,9.767013,9.622430,9.876378,9.845730,9.623410,9.414422,208.301510
std,194.230240,15.394828,0.022179,0.026419,1.932137,0.708539,0.922833,1.193349,1.400143e+06,78.761133,6.493935,0.628174,0.720261,0.465325,0.558508,0.692817,0.761591,292.403995
min,0.000000,94014.000000,37.706149,-122.513065,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000
25%,1.000000,94109.000000,37.750436,-122.443752,2.000000,1.000000,1.000000,1.000000,2.000000e+00,5.000000,94.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,99.000000
50%,2.000000,94114.000000,37.764713,-122.426608,2.000000,1.000000,1.000000,1.000000,3.000000e+00,26.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,149.000000
75%,4.000000,94118.000000,37.783214,-122.412679,4.000000,1.500000,2.000000,2.000000,3.000000e+01,81.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,233.000000
max,1475.000000,94965.000000,37.810306,-122.370428,16.000000,8.000000,7.000000,14.000000,1.000000e+08,649.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9000.000000

Some rows are dropped, but still there are some columns with differnet numbers of records

In [42]:
#checking more info  ..
df_cleaned_NaN_zip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5101 entries, 0 to 5164
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   host_is_superhost            5101 non-null   object
 1   cancellation_policy          5101 non-null   object
 2   instant_bookable             5101 non-null   object
 3   host_total_listings_count    5101 non-null   float64
 4   neighbourhood_cleansed       5101 non-null   object
 5   zipcode                      5101 non-null   float64
 6   latitude                     5101 non-null   float64
 7   longitude                    5101 non-null   float64
 8   property_type                5101 non-null   object
 9   room_type                    5101 non-null   object
 10  accommodates                 5101 non-null   float64
 11  bathrooms                    5082 non-null   float64
 12  bedrooms                     5100 non-null   float64
 13  beds                         5096 non-null   float64
 14  bed_type                     5101 non-null   object
 15  minimum_nights               5101 non-null   float64
 16  number_of_reviews            5101 non-null   float64
 17  review_scores_rating         4720 non-null   float64
 18  review_scores_accuracy       4717 non-null   float64
 19  review_scores_cleanliness    4717 non-null   float64
 20  review_scores_checkin        4716 non-null   float64
 21  review_scores_communication  4719 non-null   float64
 22  review_scores_location       4716 non-null   float64
 23  review_scores_value          4715 non-null   float64
 24  price                        5101 non-null   float64
dtypes: float64(18), object(7)
memory usage: 1.0+ MB


Now let's try imputation for numerical features. We want to fill the nulls in some numerical features with the median of that column.

In [44]:
impute_cols = [
  "bedrooms",
  "bathrooms",
  "beds",
  "review_scores_rating",
  "review_scores_accuracy",
  "review_scores_cleanliness",
  "review_scores_checkin",
  "review_scores_communication",
  "review_scores_location",
  "review_scores_value"
]

Fill any nulls in those columes with the median value of the colume where a null is located

In [47]:
#call .fillna() with median of those selected columns 
df_imputed = df_cleaned_NaN_zip.fillna(df_cleaned_NaN_zip.median()[impute_cols])

/var/folders/hd/xy5blk797rq5bq3nkbk7v1f00000gn/T/ipykernel_28532/1687988185.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_imputed = df_cleaned_NaN_zip.fillna(df_cleaned_NaN_zip.median()[impute_cols])

In [53]:
#let's check info on imputedDF
df_imputed.describe()

,host_total_listings_count,zipcode,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.00000,5101.000000,5101.000000,5.101000e+03,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000
mean,37.652421,94114.965105,37.765107,-122.431748,3.215056,1.31435,1.372672,1.768085,1.961955e+04,57.894334,95.616742,9.784552,9.650853,9.885709,9.857283,9.651833,9.458734,208.301510
std,194.230240,15.394828,0.022179,0.026419,1.932137,0.70748,0.922757,1.193006,1.400143e+06,78.761133,6.259013,0.607183,0.699743,0.448607,0.538717,0.673541,0.748405,292.403995
min,0.000000,94014.000000,37.706149,-122.513065,1.000000,0.00000,0.000000,0.000000,1.000000e+00,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000
25%,1.000000,94109.000000,37.750436,-122.443752,2.000000,1.00000,1.000000,1.000000,2.000000e+00,5.000000,95.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,99.000000
50%,2.000000,94114.000000,37.764713,-122.426608,2.000000,1.00000,1.000000,1.000000,3.000000e+00,26.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,149.000000
75%,4.000000,94118.000000,37.783214,-122.412679,4.000000,1.50000,2.000000,2.000000,3.000000e+01,81.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,233.000000
max,1475.000000,94965.000000,37.810306,-122.370428,16.000000,8.00000,7.000000,14.000000,1.000000e+08,649.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9000.000000

In [54]:
#check the sumary stats on imputedDF
df_imputed.describe(include='all')

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,...,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,5101,5101,5101,5101.000000,5101,5101.000000,5101.000000,5101.000000,5101,5101,...,5.101000e+03,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000,5101.000000
unique,2,6,2,NaN,36,NaN,NaN,NaN,21,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,f,strict_14_with_grace_period,f,NaN,Mission,NaN,NaN,NaN,Apartment,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3010,2380,3417,NaN,572,NaN,NaN,NaN,2134,3108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,37.652421,NaN,94114.965105,37.765107,-122.431748,NaN,NaN,...,1.961955e+04,57.894334,95.616742,9.784552,9.650853,9.885709,9.857283,9.651833,9.458734,208.301510
std,NaN,NaN,NaN,194.230240,NaN,15.394828,0.022179,0.026419,NaN,NaN,...,1.400143e+06,78.761133,6.259013,0.607183,0.699743,0.448607,0.538717,0.673541,0.748405,292.403995
min,NaN,NaN,NaN,0.000000,NaN,94014.000000,37.706149,-122.513065,NaN,NaN,...,1.000000e+00,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0.000000
25%,NaN,NaN,NaN,1.000000,NaN,94109.000000,37.750436,-122.443752,NaN,NaN,...,2.000000e+00,5.000000,95.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,99.000000
50%,NaN,NaN,NaN,2.000000,NaN,94114.000000,37.764713,-122.426608,NaN,NaN,...,3.000000e+00,26.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,149.000000
75%,NaN,NaN,NaN,4.000000,NaN,94118.000000,37.783214,-122.412679,NaN,NaN,...,3.000000e+01,81.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,233.000000
max,NaN,NaN,NaN,1475.000000,NaN,94965.000000,37.810306,-122.370428,NaN,NaN,...,1.000000e+08,649.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9000.000000

## Getting rid of extreme values

Let's take a look at the *min* and *max* values of the `price` column:

In [55]:
df_imputed['price'].describe()

count    5101.000000
mean      208.301510
std       292.403995
min         0.000000
25%        99.000000
50%       149.000000
75%       233.000000
max      9000.000000
Name: price, dtype: float64

There are some super-expensive listings. But that's the Data Scientist's job to decide what to do with them. We can certainly filter the "free" AirBNBs though.

Let's see first how many listings we can find where the *price* is zero.

In [56]:
#find number of listings that have price as zero 
df_imputed.query('price==0').price.count()

1

Now only keep rows with a strictly positive *price*.

In [57]:
#we can still using .query() to get a dataframe that only have positive price
df_imputed_pos_price = df_imputed.query('price > 0')

In [58]:
#check the stats of price in posPricesDF
df_imputed_pos_price.describe()

,host_total_listings_count,zipcode,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5.100000e+03,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000
mean,37.659020,94114.966078,37.765111,-122.431750,3.215490,1.314412,1.372745,1.768235,1.962340e+04,57.904118,95.616863,9.784510,9.650784,9.885686,9.857255,9.651961,9.458824,208.342353
std,194.248713,15.396181,0.022179,0.026421,1.932077,0.707535,0.922833,1.193075,1.400280e+06,78.765756,6.259621,0.607235,0.699795,0.448649,0.538766,0.673545,0.748451,292.418114
min,0.000000,94014.000000,37.706149,-122.513065,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,10.000000
25%,1.000000,94109.000000,37.750444,-122.443757,2.000000,1.000000,1.000000,1.000000,2.000000e+00,5.000000,95.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,99.750000
50%,2.000000,94114.000000,37.764717,-122.426620,2.000000,1.000000,1.000000,1.000000,3.000000e+00,26.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,149.000000
75%,4.000000,94118.000000,37.783216,-122.412669,4.000000,1.500000,2.000000,2.000000,3.000000e+01,81.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,233.000000
max,1475.000000,94965.000000,37.810306,-122.370428,16.000000,8.000000,7.000000,14.000000,1.000000e+08,649.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9000.000000

Let's take a look at the *min* and *max* values of the *minimum_nights* column:

In [59]:
#checking stats of a single column 'minimum_nights'
df_imputed_pos_price[['minimum_nights']].describe()

       minimum_nights
count    5.100000e+03
mean     1.962340e+04
std      1.400280e+06
min      1.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      3.000000e+01
max      1.000000e+08

Let's take a look the distribution of number of records based on `minimum_nights`

In [60]:
#ues .value_counts() on a column
df_imputed_pos_price.minimum_nights.value_counts()

30.0           1762
2.0            1053
1.0             856
3.0             715
4.0             233
5.0             149
31.0            103
7.0              65
60.0             25
6.0              24
32.0             22
180.0            21
90.0             19
120.0             7
14.0              5
365.0             4
50.0              3
45.0              3
21.0              2
12.0              2
10.0              2
183.0             2
360.0             1
1125.0            1
62.0              1
188.0             1
28.0              1
80.0              1
100000000.0       1
58.0              1
85.0              1
999.0             1
13.0              1
179.0             1
29.0              1
35.0              1
140.0             1
25.0              1
185.0             1
40.0              1
75.0              1
17.0              1
170.0             1
200.0             1
1000.0            1
Name: minimum_nights, dtype: int64

A minimum stay of one year seems to be a reasonable limit here. Let's filter out those records where the *minimum_nights* is greater then 365:

In [61]:
#again, using .query()
df_cleaned_final =  df_imputed_pos_price.query('minimum_nights<=365')

In [62]:
#check the stats of minimum_nights in cleanDF
df_cleaned_final[['minimum_nights']].describe()

       minimum_nights
count     5096.000000
mean        14.954082
std         22.517376
min          1.000000
25%          2.000000
50%          3.000000
75%         30.000000
max        365.000000

In [63]:
df_cleaned_final.describe(include='all')

,host_is_superhost,cancellation_policy,instant_bookable,host_total_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,...,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price
count,5096,5096,5096,5096.000000,5096,5096.000000,5096.000000,5096.000000,5096,5096,...,5096.000000,5096.000000,5096.000000,5096.000000,5096.000000,5096.000000,5096.000000,5096.000000,5096.000000,5096.000000
unique,2,6,2,NaN,36,NaN,NaN,NaN,21,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,f,strict_14_with_grace_period,f,NaN,Mission,NaN,NaN,NaN,Apartment,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3006,2378,3413,NaN,571,NaN,NaN,NaN,2131,3106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,37.687206,NaN,94114.970761,37.765110,-122.431760,NaN,NaN,...,14.954082,57.944270,95.616562,9.784537,9.650706,9.885597,9.857143,9.651688,9.458595,207.813579
std,NaN,NaN,NaN,194.322338,NaN,15.401277,0.022184,0.026428,NaN,NaN,...,22.517376,78.783554,6.261190,0.607351,0.699959,0.448813,0.538963,0.673739,0.748602,289.503274
min,NaN,NaN,NaN,0.000000,NaN,94014.000000,37.706149,-122.513065,NaN,NaN,...,1.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,10.000000
25%,NaN,NaN,NaN,1.000000,NaN,94109.000000,37.750431,-122.443776,NaN,NaN,...,2.000000,5.000000,95.000000,10.000000,9.000000,10.000000,10.000000,9.000000,9.000000,99.750000
50%,NaN,NaN,NaN,2.000000,NaN,94114.000000,37.764725,-122.426645,NaN,NaN,...,3.000000,26.000000,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,149.000000
75%,NaN,NaN,NaN,4.000000,NaN,94118.000000,37.783216,-122.412669,NaN,NaN,...,30.000000,81.000000,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,233.000000
max,NaN,NaN,NaN,1475.000000,NaN,94965.000000,37.810306,-122.370428,NaN,NaN,...,365.000000,649.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9000.000000

In [64]:
df_cleaned_final.price.value_counts()

150.0     181
100.0     137
120.0     127
250.0     118
125.0     113
         ...
1082.0      1
1252.0      1
288.0       1
775.0       1
4500.0      1
Name: price, Length: 419, dtype: int64

Convert price to categorical by binining it

In [ ]:

labels = ["Cheap","Moderate","Expensive"]
cleanDF['binned_price'] = pd.cut(cleanDF['price'], bins=3,  labels=labels)
cleanDF.binned_price.value_counts()

In [ ]:
cleanDF.query('binned_price=="Expensive"')

Convert room_type to numeric using one hot encoding

In [ ]:
# List unqiue room types and their count
cleanDF.room_type.value_counts()

In [ ]:
# Convert room_type to numeric using one hot encoding
pd.get_dummies(cleanDF.room_type, prefix='room_type')

# use pd.concat to join the new columns with your original dataframe
cleanDF = pd.concat([cleanDF,pd.get_dummies(cleanDF['room_type'], prefix='room_type', drop_first=True)],axis=1)

# now drop the original 'room_type' column (you don't need it anymore)
cleanDF.drop(['room_type'],axis=1, inplace=True)

cleanDF.head()

## Saving Cleaned Data back to Disk

OK, our data is cleansed now. Let's save this DataFrame to a file so that we can start building models with it.

In [ ]:
outputPath = "airbnb-cleaned.csv"
cleanDF.to_csv(outputPath)

In [ ]:
%ls

Summary
--
What we have done in this notebook:

* Fixed data type for the column 'price' 
    * using .replace() with regx to fix values
    * using .astype() to fix data type
* Got rid of null values
    * using .dropna() to dropped rows where 'zipcode' is null
    * using .fillna() to impute columns that have nulls with the median of that column
* Identified & removed some outliers
    * using .qu'price' as 0
    * 'minimum_nights' greater than 365 days

We have also learned:

* Where to find the API docs 
* Checking dataframe attributes
    * using .shape to check dataframe shape
    * using .dtypes to check column data types
    * using .columns to check clumn names
* Using help() to get the usage info of a function/method  
* Using .info() to check the schema of a dataframe  
* Using describe() to get summary statistics of dataframe  
  
Now we have a cleaned dataset ready for trying some machine learning tasks.